body {
  background: linear-gradient(#3B1D60 100%, #040D3E 100%);
  margin: 0 auto;
  padding: 0;
  font-family: 'Gilroy-SemiBold', sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #99EFD0;
}

button {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
}






/*-========Block Help========-*/
.section-help {
  display: flex;
  justify-content: space-between;
  margin: 180px 0 0 120px;
  flex-wrap: wrap;
}

.section-help-clmn {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-help-img {
  position: relative;
}

.section-help-img-mask-oval {
  position: absolute;
  left: -80px;
  bottom: 60px;
  z-index: -1;
}

.section-help-img-mask-point2 {
  position: absolute;
  bottom: 148px;
}

.section-help-img-mask-point8 {
  position: absolute;
  left: -53px;
  top: -25px;
  z-index: -1;
}

.section-help-title-prop {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-top: 33px;
  width: 505px
}

.section-help-title-par {
  width: 224px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;

  color: #8476AA;
}

.section-help-clmn-img {
  position: absolute;
  transform: rotate(60deg);
  right: 184px;
  opacity: 0.2;
}

/*-==========Block Many Reasons======*/
.section-many {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-many-bg {
  margin: 100px 0 0 120px;
  width: 940px;
  height: 324px;
  background: rgba(60, 62, 125, 0.19);
  backdrop-filter: blur(134px);
  border-radius: 5px;

}

.section-many-img {
  position: absolute;
  top: 36px;
}

.section-many-text {
  padding-top: 50px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  text-align: center;
}

.section-many-text-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;

  color: #F2994A;
}

.section-many-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 400px;
  padding-left: 260px;
  color: #95A1BB;
  margin-top: 18px;
}

.section-many-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;

}

.section-many-form-text {
  width: 308px;
  height: 56px;
  background: #F6F6F6;
  border-radius: 5px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  opacity: 0.1;
}

.section-many-form-text:focus {
  opacity: 0.4;
  color: #000000;
}

.section-many-form-btn {
  width: 128px;
  height: 56px;
  background: #F2994A;
  border-radius: 0 5px 5px 0;
  border: none;
}

.section-many-form-btn:hover {
  background: none;
  border: 1px solid #F2994A;
  color: #F2994A;
}

.section-many-form-par {
  margin-top: 13px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #8476AA;
}

/*-=======Footer========-*/
.footer-social {
  position: relative;
  margin: 150px 0 0 120px;
}

.footer-social-first {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.footer-social-first > h4 {
  text-align: left;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.325px;

  color: #F2994A;
}

.footer-bg {
  position: absolute;

  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.footer-social-first-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.footer-social-first-list {
  position: relative;
  background-color: #443570;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.footer-social-first-googlebg {
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url("./image/google.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-social-first-list:hover {
  background-color: #8476AA;
}

.footer-social-first-twit {
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url("./image/twitter.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-social-first-face {
  position: absolute;
  width: 11px;
  height: 15px;
  background-image: url("./image/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-social-menu {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 78px;
}

.footer-nav-first {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;

}
.footer-nav-first li:first-child {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 22px;

}
.footer-nav-first li {
  margin-bottom: 18px;

}

.footer-nav-first a {
  color: #ffffff;
  display: flex;
  border:1px solid transparent;
}

.footer-nav-first a:hover {
  border-bottom: 1px solid #ffffff;
}

.footer-cont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 133px;
}

.footer-cont-private {
  display: flex;
  justify-content: space-evenly;
  width: 623px;
}

.footer-cont-private a {
  color: #8D8D8D;
}

