body {
  background: linear-gradient(#3B1D60 100%, #040D3E 100%);
  margin: 0 auto;
  padding: 0;
  font-family: 'Gilroy-SemiBold', sans-serif;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #99EFD0;
}

/*-==========Header=========-*/
.app {
  text-align: center;
  margin: 75px 0 0 120px;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.App-logo {
  width: 36px;
  height: 36px;
}

/*-=========Menu========-*/
.app-header-navigation > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 613px;

  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.app-header-navigation a {
  color: #B5B5B5;
}
.app-header-navigation a:hover {
  color: #bababa;
  border-bottom: 2px solid #bababa;
}
.app-header-btn {
  display: flex;
  justify-content: space-evenly;
}
.app-header-btnsign {
  width: 112px;
  height: 36px;
  border: 1px solid #F2994A;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  color: #F2994A;
  background: none;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}

.app-header-btnsign:hover {
  background: #F2994A;
  color: #ffffff;
 }

.app-header-btnsignup {
  width: 112px;
  height: 36px;
  border: 1px solid #F2994A;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  color: #Ffffff;
  background: #F2994A;
  margin:0 120px 0 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}
.app-header-btnsignup:hover {
  background: none;
  color: #F2994A;
}
/*-============Title=======-*/
.header-first {
  display: flex;
  position: relative;
}
.header-title {
  margin: 140px 0 0 120px;
}

.header_title_many {
  width: 531px;
  font-size: 44px;
  line-height: 50px;
}
.header_title_subtitle {
  width: 468px;
  line-height: 22px;
  font-size: 18px;
  color: #8476AA;
  margin-top: 10px;
}

/*-========run-man=========-*/
.header-first-image-man {
  position: absolute;
  top: 100px;
  right: 0;

}
.header-second-block {
  display: flex;
  flex-direction: column;
}
.HeaderSecond-Button {
  display: flex;
  margin: 33px 0 0 120px;
}
.HeaderSecond-Button-learn {
  width: 155px;
  height: 46px;
  border: 1px solid #F2994A;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  color: #Ffffff;
  background: #F2994A;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}
.HeaderSecond-Button-learn:hover {
  background: none;
  color: #F2994A;
}

.HeaderSecond-Button-demo {
  width: 155px;
  height: 46px;
  border: 1px solid #F2994A;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  color: #F2994A;
  background: none;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  margin-left: 30px;
}

.HeaderSecond-Button-demo:hover {
  background: #F2994A;
  color: #ffffff;
}

/*-========Header_three_block=======-*/
.Header_three_block {
  display: flex;
  margin: 60px 0 0 120px;
}

.HeaderSecond-video {
  width: 140px;
  height: 80px;
  background: #361C5D;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeaderSecond-par {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #8476AA;
  width: 380px;
  margin-left: 15px;
}
.HeaderSecond-par a {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #6D6D78;
}

/*-=========HeaderPartners==========-*/
.header_partners {
  margin-top: 80px;
}
.header_partners_img {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  opacity: 0.4;
}

.header_partners_img_groupLeft {
  position: absolute;
  left: 0;
  top: 10px;
}
.header_partners_img_groupRight{
  position: absolute;
  right: 0;
  top: 10px;
}
/*-=========Section First Name========-*/

.section-first-name {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-first-name-titl {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 13px;
}

.section-first-name-par {
  font-size: 16px;
  line-height: 22px;
  color: #8476AA;
}
.section-first-name-estet {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-first-name-estet-Column {
  width: 247px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 43px 120px;
  color: #8476AA;
}

.section-first-name-estet-Elegance {
  position: relative;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  color: #99EFD0;

}

.section-first-name-estet-Elegance::before {
  content: "";
  position: absolute;
  background-image: url("./image/flip-horizontal.png");
  width: 24px;
  height: 24px;
  left: -48px;
}

.section-first-name-estet-Folly {
  position: relative;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  color: #99EFD0;
}
.section-first-name-estet-Folly::before {
  content: "";
  position: absolute;
  background-image: url("./image/Airpods.png");
  width: 24px;
  height: 24px;
  left: -48px;
}

.section-first-name-estet-Possible {
  position: relative;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  color: #99EFD0;

}
.section-first-name-estet-Possible::before {
  content: "";
  position: absolute;
  background-image: url("./image/LTE.png");
  width: 24px;
  height: 24px;
  left: -48px;
}

.section-first-name-estet-Game {
  position: relative;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  color: #99EFD0;
}
.section-first-name-estet-Game::before {
  content: "";
  position: absolute;
  background-image: url("./image/Thunder-move.png");
  width: 24px;
  height: 24px;
  left: -48px;
}
.section-first-name-estet-Endeavor {
  position: relative;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  color: #99EFD0;
}
.section-first-name-estet-Endeavor::before {
  content: "";
  position: absolute;
  background-image: url("./image/Attachment.png");
  width: 24px;
  height: 24px;
  left: -48px;
}

.section-first-name-estet-Comfort {
  position: relative;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  color: #99EFD0;
}

.section-first-name-estet-Comfort::before {
  content: "";
  position: absolute;
  background-image: url("./image/Bulb.png");
  width: 24px;
  height: 24px;
  left: -48px;
}

/*-=========Increase=========-*/
.section-increase-traffic {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.section-increase-traffic-titl {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #8476AA;
  width: 470px;
  margin-top: 20px;
}

.section-increase-traffic-titl > button {
  margin-top: 40px;
}
.section-increase-traffic-img {
  position: relative;
}

.section-increase-traffic-img-table {
  position: absolute;
  left: -140px;
  top: 20px;
}
.section-increase-traffic-img-arrow {
  position: absolute;
  left: 0;
  top: 300px;
}

.section-increase-traffic-img-grouppoint {
  position: absolute;
  right: -48px;
  top: 239px;
  z-index: -3;
}

/*-=========Simple Block========-*/
.section-simple {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  align-items: center;
  text-align: center;
}
.section-simple-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-simple-titl {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.33px;
  margin-bottom: 33px;

}

.section-simple-titl-par {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 414px;
  color: #8476AA;

}
.section-simple-column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.section-simple-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section-simple-col-name {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.33px;
  margin: 45px 0 10px 0;
}
.section-simple-col-par {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 269px;
  color: #8476AA;
}

.create {

}

.create-newproject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  text-align: center;
  position: relative;
}

.create-newproject > button {
  margin-top: 33px;
}

.create-newproject-frame {
  position: absolute;
  top: 36px;
  object-fit: cover;
  width: 95%;
}