@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('./fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('./fonts/Gilroy-Semibold.woff') format('woff'),
        url('./fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: 'Inter';
    src: local('Inter Semi Bold'), local('Inter-Semi-Bold'),
        url('./fonts/Inter-SemiBold.woff2') format('woff2'),
        url('./fonts/Inter-SemiBold.woff') format('woff'),
        url('./fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Regular'), local('Rubik-Regular'),
        url('./fonts/Rubik-Regular.woff2') format('woff2'),
        url('./fonts/Rubik-Regular.woff') format('woff'),
        url('./fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Noto+Serif+Display:ital@1&family=Raleway&family=Roboto&family=Roboto+Serif&display=swap');